body {
	margin: 0;
}

#page-wrapper {
	padding: 0
}

.a4page {
     margin: 0;
     border: initial;
     border-radius: initial;
     width: initial;
     min-height: initial;
     box-shadow: initial;
     background: initial;
     page-break-after: always;
 }