#wrapper .navbar {
    min-height: 30px;
}

#wrapper .side-nav {
    top: 30px;
}

#wrapper .navbar-brand {
    padding: 5px;
    height: 30px;
}

.navbar-nav>li>a.top-sm-btn {
    padding-bottom: 5px;
    padding-top: 5px;
}

.a4wrapper {
    margin: 0 auto;
    width: 21cm;
}

.a4page {
    width: 21cm;
    min-height: 29.7cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left
}

.a4page .page-header {
    padding-bottom: 0;
    margin: 0 0 10px 0;
}

.data-head {
	font-weight: bold;
	text-decoration: underline;
	padding-right: 5px;
}
.data-container {
    padding-bottom: 5px;
    border-bottom: 1px solid #AAA;
    margin-bottom: 5px;
}
.centered {
	text-align: center;
}
.data-label {
	display: inline-block;
	width: 35%;
}
.sign-data-content{
	height: 20px;
	vertical-align: middle;
}
.sign-image {
	height: 35px;
	width: 140px;
	vertical-align: middle;
}
.glyphicon-class {
	padding-left: 5px;
}

.table-condensed {
	display: inline-table;
}

.name-data-content {
	display: inline-block;
}

#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    height: 34px;
    border-top: 1px solid #717171; /* inner stroke */
    border-bottom: 1px solid #5A5A5A; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    list-style-type:none;
}  

#leftMenu .accordion-heading  a{  
    color: #cbcbcb; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    font-weight:bold;  
}

#leftMenu .accordion-heading  a:hover{  
    color:#ccc     
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

.inline-text {
    display: inline-block;
}

.inline-text p {
    margin: 0;
}

.a4page .table>thead>tr>th,
.a4page .table>tbody>tr>th,
.a4page .table>tfoot>tr>th,
.a4page .table>thead>tr>td,
.a4page .table>tbody>tr>td,
.a4page .table>tfoot>tr>td {
    padding: 3px;
}

.a4page .table {
    margin: 0;
}

.pager-nav {
    outline: 0 none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 5px;
    line-height: 18px;
    vertical-align: bottom;
}

.pager-nav.disabled {
    color: gray;
}

.pager-filter {
    display: inline-block;
    width: initial;
    height: initial;
    padding: 0;
}

.tablesorter {
    text-align: center;
}

.hidden {
    display: none;
}

.personal-photo {
    max-height: 170px;
    max-width: 170px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}